/* Linear Gradients */
.linear-gradient {
   background: var(--primary);
   background: -moz-linear-gradient(top, var(--primary) 0%, var(--secondary) 100%); /* Old browsers */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, var(--primary)), color-stop(100%, var(--secondary))); /* FF3.6+ */
   background: -webkit-linear-gradient(top, var(--primary) 0%, var(--secondary) 100%); /* Chrome, Safari4+ */
   background: -o-linear-gradient(top, var(--primary) 0%, var(--secondary) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, var(--primary) 0%, var(--secondary) 100%); /* IE10+ */
   background: linear-gradient(180deg, var(--primary) 0%, var(--secondary) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{var(--primary)}", endColorstr="#{var(--secondary)}", GradientType=0); /* IE6-9 */
}

/* Gradient Animation */
@keyframes gradient {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}

@-webkit-keyframes gradient {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}

@-moz-keyframes gradient {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}
