/* App Boxed Layout */
.app-boxed-layout {
  background: linear-gradient(151deg, #0835ea, #ea1408, #082bea);
  background-size: 600% 600%;
  animation: Gradient 15s ease infinite;
}

.app-boxed-layout .quick-link {
  display: none;
}

.app-boxed-layout .app-container {
  margin: 0 auto;
}

.app-boxed-layout .app-container .Vuely-toolbar.v-toolbar {
  position: static !important;
  bg-color: transparent !important;
  box-shadow: none;
  padding: 1rem 0;
}

.app-boxed-layout .app-container .Vuely-toolbar.v-toolbar .site-logo-wrap .site-logo-img {
  bg-color: transparent !important;
  padding: 0;
}

.app-boxed-layout .app-container .Vuely-toolbar.v-toolbar .search-bar,
.app-boxed-layout .app-container .Vuely-toolbar.v-toolbar .mobile-search {
  display: none;
}

.app-boxed-layout .app-container .Vuely-toolbar.v-toolbar .v-btn,
.app-boxed-layout .app-container .Vuely-toolbar.v-toolbar i {
  color: #fff !important; /* Assuming var(--light) is white */
}

.app-boxed-layout .app-container .v-main {
  padding: 0 !important;
  overflow: hidden;
  margin: 0 1rem;
  box-shadow: -1px 3px 18px rgba(0, 0, 0, 0.3);
}

.app-boxed-layout .app-container .v-main .horizontal-menu {
  position: static;
  margin: 0;
  height: 4.688rem;
  align-items: center;
  padding-right: 1.5rem;
}

.app-boxed-layout .app-container .v-main .horizontal-menu > ul li:hover > a {
  color: #5d92f4 !important; /* Assuming var(--primary) is blue */
}

.app-boxed-layout .app-container .v-main .horizontal-menu > ul li:hover > a i,
.app-boxed-layout .app-container .v-main .horizontal-menu > ul li:hover > a:after {
  color: #5d92f4 !important; /* Assuming var(--primary) is blue */
}

.app-boxed-layout .app-container .v-main .horizontal-menu > ul li .sub-menu,
.app-boxed-layout .app-container .v-main .horizontal-menu > ul li .sub-menu-child,
.app-boxed-layout .app-container .v-main .horizontal-menu > ul li .sub-menu-sub-child {
  box-shadow: 0 0 15px 1px rgba(69, 65, 78, 0.2);
  border-radius: 5px;
  transform: translateY(2rem);
  transition: transform 0.2s ease-in;
}

.app-boxed-layout .app-container .v-main .horizontal-menu > ul li .sub-menu {
  top: 4.75rem;
  left: 1.5rem;
}

.app-boxed-layout .app-container .v-main .horizontal-menu > ul li .sub-menu .nav-item {
  position: relative;
}

.app-boxed-layout .app-container .v-main .horizontal-menu > ul li .sub-menu .nav-item:after {
  content: '';
  position: absolute;
  border: 5px solid #5d92f4;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.app-boxed-layout .app-container .v-main .horizontal-menu > ul li .sub-menu .nav-item:hover:after {
  opacity: 1;
}

.app-boxed-layout
  .app-container
  .v-main
  .horizontal-menu
  > ul
  li
  .sub-menu
  li:first-child
  .nav-link {
  border-radius: 5px 5px 0 0;
}

.app-boxed-layout
  .app-container
  .v-main
  .horizontal-menu
  > ul
  li
  .sub-menu
  li:last-child
  .nav-link {
  border-radius: 0 0 5px 5px;
}

.app-boxed-layout .app-container .v-main .horizontal-menu > ul li .sub-menu .nav-item .nav-link {
  display: flex;
  align-items: center;
}

.app-boxed-layout .app-container .v-main .horizontal-menu > ul li .sub-menu-child {
  left: 12.8rem;
  width: 100%;
}

.app-boxed-layout .app-container .v-main .horizontal-menu > ul li .sub-menu-child:after {
  top: 1rem;
  left: -0.5rem;
  transform: rotate(45deg);
}

.app-boxed-layout
  .app-container
  .v-main
  .horizontal-menu
  > ul
  li
  .sub-menu-child
  li
  .sub-menu-sub-child {
  width: 75%;
  left: 12rem;
}

.app-boxed-layout
  .app-container
  .v-main
  .horizontal-menu
  > ul
  li
  .sub-menu-child
  li
  .sub-menu-sub-child:after {
  top: 1rem;
  left: -0.5rem;
  transform: rotate(45deg);
}

.app-boxed-layout
  .app-container
  .v-main
  .horizontal-menu
  > ul
  li
  .sub-menu-child
  li:hover
  .sub-menu-sub-child {
  transform: translateY(0rem);
}

.app-boxed-layout .app-container .v-main .horizontal-menu > ul li:hover .sub-menu {
  transform: translateY(0);
}

.app-boxed-layout .app-container .v-main .horizontal-menu > ul li.nav-item-active:hover:after {
  content: none;
}

.app-boxed-layout .app-container .v-main .horizontal-menu > ul li.nav-item-active .nav-link:after,
.app-boxed-layout .app-container .v-main .horizontal-menu > ul li.nav-item-active .nav-link span,
.app-boxed-layout .app-container .v-main .horizontal-menu > ul li.nav-item-active .nav-link i {
  color: #5d92f4 !important; /* Assuming var(--primary) is blue */
}

.app-boxed-layout .app-footer .v-footer {
  bg-color: transparent !important;
  display: block;
  padding: 1rem 0;
  margin: 0 1rem;
  height: auto !important;
}

.app-boxed-layout .app-footer .v-footer .v-btn {
  margin: 0;
  font-size: 0.75rem;
}

.app-boxed-layout .app-footer .v-footer * {
  color: #fff;
}

.app-boxed-layout .active-user-wrap > div {
  height: 100%;
}

.app-boxed-layout .chat-box-main {
  height: 70vh !important;
}

@media (min-width: 960px) {
  .app-boxed-layout .user-block-wrap {
    display: inline-block !important;
  }
}

@media (min-width: 1600px) {
  .app-boxed-layout .app-container {
    width: 1600px;
  }
}

@media (max-width: 1250px) {
  .app-boxed-layout .horizontal-menu > ul.nav > li > a {
    font-size: 0.875rem;
    padding: 0.875rem 1rem;
  }
}

@media (max-width: 1150px) {
  .app-boxed-layout .horizontal-menu .search-bar {
    display: none;
  }

  .app-boxed-layout .horizontal-menu .mobile-search {
    display: block !important;
  }
}

@media (max-width: 959px) and (min-width: 320px) {
  .app-boxed-layout .Vuely-toolbar {
    padding: 0.875rem 1rem !important;
  }

  .app-boxed-layout .horizontal-menu {
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
    height: 3.5rem !important;
  }

  .app-boxed-layout .horizontal-menu ul.nav,
  .app-boxed-layout .horizontal-menu .search-bar {
    display: none;
  }

  .app-boxed-layout .horizontal-menu .ham-menu-sm {
    display: block !important;
  }

  .app-boxed-layout .app-content {
    height: calc(100vh - 163px);
  }

  .app-boxed-layout .app-footer {
    justify-content: center !important;
  }

  .app-boxed-layout .inbox .inbox-content-scroll {
    height: calc(100vh - 285px) !important;
  }

  .app-boxed-layout .chat-wrapper .chat-area-scroll {
    height: calc(100vh - 290px) !important;
  }
}

@media (max-width: 599px) and (min-width: 320px) {
  .app-boxed-layout .Vuely-toolbar .navbar-right .v-btn--icon {
    height: 2rem;
    width: 2rem;
  }

  .app-boxed-layout .chat-wrapper .chat-head .chat-head-left {
    width: 68%;
  }
}

.app-boxed-layout.boxed-v2 {
  overflow: hidden;
  background-image: url(/public/static/img/bg-1.jpg);
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  animation: none !important;
}

.app-boxed-layout.boxed-v2 .activity-widget .activity-scroll {
  height: 375px !important;
}
