.vue-dragula-container {
  display: block;
  width: 100%;
  padding: 0.625rem; /* 10px */
}

.vue-dragula-container .vuedraggable {
  padding: 0.625rem; /* 10px */
  transition: opacity 0.4s ease-in-out;
  margin-bottom: 0.625rem; /* 10px */
  cursor: grab; /* Updated to vuedraggable */
}

.vue-dragula-container .vuedraggable:active {
  cursor: grabbing; /* When the item is being dragged */
}

.vue-dragula-container .vuedraggable .gu-mirror {
  padding: 0.625rem; /* 10px */
  transition: opacity 0.4s ease-in-out;
  color: inherit;
  margin-bottom: 0.625rem; /* 10px */
  cursor: grabbing; /* For the mirror item during drag */
}

.artical-user {
  border: 2px solid var(--primary);
  padding: 0.3125rem;
  width: 44px !important;
  height: 44px !important;
  display: inline-block;
}
