/*=========== Sidebar css ============*/

.v-navigation-drawer--is-mobile .sidebar-profile {
   margin-top: 0 !important;
}

.v-navigation-drawer {
   overflow-y: auto;
   height: 100% !important;
   display: flex;
   flex-direction: column;
   background-position: 100% center;
   background-size: cover;
   background-repeat: no-repeat;
   transition: all 0.4s linear 0s;
   padding: 0;
   box-shadow: var(--sidebar-box-shadow);
}

.v-navigation-drawer .navigation .v-list .sidebar-profile {
   margin-bottom: 0.9375rem;
}

.v-navigation-drawer .navigation .v-list .sidebar-profile .v-list-item__avatar {
   margin-right: 0.9375rem;
}

.v-navigation-drawer .navigation .v-list .sidebar-profile .v-btn {
   height: 2rem;
   width: 2rem;
}

.v-navigation-drawer .navigation .v-list .sidebar-profile .v-list-item__title {
   color: var(--sidebar-nav-color);
}

.v-navigation-drawer .navigation .v-list .v-list-item--link {
   font-weight: var(--sidebar-nav-font-weight);
   font-size: var(--sidebar-subnav-font-size);
}

.v-navigation-drawer .navigation .v-list .sidebar-title span {
   font-size: 12px;
   font-weight: var(--sidebar-nav-font-weight);
   margin-bottom: 0.625rem;
   display: block;
   color: var(--sidebar-nav-color);
}

.v-navigation-drawer .navigation .v-list .v-list-group {
   margin-bottom: 0.625rem;
}

.v-navigation-drawer .navigation .v-list .v-list-group .v-list-group__header .v-list-group__header__prepend-icon {
   min-width: 30px;
   margin-right: 0.625rem;
   padding: 0 0.75rem;
}

.v-navigation-drawer .navigation .v-list .v-list-group .v-list-group__header .v-list-group__header__prepend-icon .v-icon {
   transform: rotate(0);
   transition: all 0.3s ease-in-out;
   font-size: var(--sidebar-subnav-font-size);
}

.v-navigation-drawer .navigation .v-list .v-list-group .v-list-item,
.v-navigation-drawer .navigation .v-list .v-list-item__title {
   font-weight: var(--sidebar-nav-font-weight);
   font-size: var(--sidebar-nav-text-size);
   padding-left: 0;
}

.v-navigation-drawer .navigation .v-list .v-list-group .v-list-group__header__prepend-icon,
.v-navigation-drawer .navigation .v-list .v-list-item,
.v-navigation-drawer .navigation .v-list .v-list-item__title,
.v-navigation-drawer .navigation .v-list .v-list-item__title span,
.v-navigation-drawer .navigation .v-list .v-list-item__title i {
   color: var(--sidebar-nav-color);
}

.v-navigation-drawer .navigation .v-list .v-list-item__title span {
   line-height: 1.5;
}

.v-navigation-drawer .navigation .v-list .v-list-group__header.v-list-item--active:before {
   transform: scaleX(1);
   opacity: 1;
}

.v-navigation-drawer .navigation .v-list .v-list-item__title,
.v-navigation-drawer .navigation .v-list .v-list-item__title span,
.v-navigation-drawer .navigation .v-list .v-list-item__title i {
   font-weight: var(--font-weight-bold);
   color: var(--sidebar-nav-active-color);
}

.v-navigation-drawer .navigation .v-list .v-list-group .v-list-group__header__prepend-icon .v-icon {
   transform: rotate(90deg);
}

.v-navigation-drawer .navigation .v-list .v-list-group .v-list-group__items .v-list-item--link {
   padding-left: 2.813rem;
}

.v-navigation-drawer .navigation .v-list .v-list-group .v-list-group__items .v-list-item--link:before {
   display: none;
}

.v-navigation-drawer .navigation .v-list .v-list-group .v-list-group__items .v-list-item--link:hover,
.v-navigation-drawer .navigation .v-list .v-list-group .v-list-group__items .v-list-item--link.v-list-item--active {
   bg-color: transparent !important;
}

.v-navigation-drawer .navigation .v-list .v-list-group__items .v-list-item__title {
   font-weight: var(--sidebar-nav-font-weight);
   font-size: var(--sidebar-nav-text-size);
   padding-left: 0;
   color: var(--sidebar-subnav-font-color);
}

.v-navigation-drawer .navigation .v-list .v-list-group__items .v-list-item--active .v-list-item__title {
   font-weight: var(--font-weight-bold);
   color: var(--sidebar-nav-active-color);
}

.v-navigation-drawer .navigation .v-list > div > div > .v-list-item--link,
.v-navigation-drawer .navigation .v-list .v-list-group__header {
   bg-color: transparent !important;
   position: relative;
}

.v-navigation-drawer .navigation .v-list > div > div > .v-list-item--link:before,
.v-navigation-drawer .navigation .v-list .v-list-group__header:before {
   content: "";
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: -1;
   width: 235px;
   border-radius: 0 100px 100px 0;
   bg-color: rgba(0, 0, 0, 0.2);
   transform: scaleX(0);
   transform-origin: left;
   transition: transform 0.4s ease-in-out;
   box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.09);
}

.v-navigation-drawer .navigation .v-list > div > div > .v-list-item--link:hover:before,
.v-navigation-drawer .navigation .v-list .v-list-group__header:hover:before {
   transform: scaleX(1);
   opacity: 1;
}

.v-navigation-drawer .navigation .v-list > div > div > .v-list-item--link {
   margin-bottom: 0.5rem;
   padding: 0;
}

.v-navigation-drawer .navigation .v-list > div > div > .v-list-item--link .v-list-item__action {
   padding: 0 1.3rem;
}

.v-navigation-drawer .navigation .v-list .v-list-item--link {
   width: 210px;
   border-radius: 0 100px 100px 0;
   transition: bg-color 0.3s ease;
}

.v-navigation-drawer .navigation .v-list .v-list-item--link .v-list-item__action {
   min-width: 30px;
}

.v-navigation-drawer .navigation .v-list .v-list-item--link .v-list-item__action i {
   font-size: var(--sidebar-subnav-font-size);
}

.v-navigation-drawer .navigation .v-list .v-list-item--link.v-list-item--active:before {
   transform: scaleX(1);
   opacity: 1;
}

.v-navigation-drawer .navigation .v-list .v-list-item--link.v-list-item--active .v-list-item__title {
   font-weight: var(--font-weight-bold);
}

.v-navigation-drawer .navigation .v-list .v-list-group--active::after,
.v-navigation-drawer .navigation .v-list .v-list-group--active::before {
   background: none;
}

.scroll-area {
   position: relative;
   height: 100%;
}

/* Sidebar */
.sidebar {
   height: 100%;
   overflow: hidden;
   overflow-x: hidden;
}

.sidebar .site-logo {
   padding: 0 1rem;
}

.sidebar::before,
.sidebar::after {
   display: block;
   content: "";
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   bottom: 0;
   z-index: -9;
}

.sidebar::before {
   opacity: .9;
}

.sidebar i {
   font-size: 22px;
   vertical-align: top;
}

.sidebar .v-toolbar__content,
.sidebar .v-toolbar__extension {
   padding: 0;
}

.sidebar .v-list {
   max-height: 100%;
   width: 100%;
}

.sidebar .v-list-item__title {
   position: static;
}

.sidebar .ps > .ps__scrollbar-x-rail {
   display: none !important;
}

/* Sidebar-profile */
.sidebar-profile .v-list-item__content .v-list-item__title {
   font-size: var(--font-size-sm);
}

/* Userblock Dropdown */
.userblock-dropdown {
   bg-color: var(--base-light);
}

.userblock-dropdown .dropdown-content {
   width: 225px;
}

.userblock-dropdown .dropdown-content .dropdown-top {
   padding: 1rem 1.25rem;
}

.userblock-dropdown .dropdown-content .dropdown-list {
   background: transparent;
}

.userblock-dropdown .dropdown-content .dropdown-list .v-list-item {
   box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.11);
   margin: 0.3125rem;
   bg-color: var(--light);
}

.userblock-dropdown .dropdown-content .dropdown-list .v-list-item span {
   font-size: var(--font-size-sm);
   transition: color 0.3s ease;
}

.userblock-dropdown .dropdown-content .dropdown-list .v-list-item:hover span {
   color: var(--primary) !important;
}

.userblock-dropdown .dropdown-content .dropdown-list .v-list-item:hover {
   bg-color: var(--light) !important;
}

.Vuely-sidebar.background-none .sidebar:before {
   opacity: 1 !important;
}

.sidebar-overlay-dark::before {
   background: var(--sidebar-bg);
}

.sidebar-overlay-light::before {
   background: rgba(255, 255, 255, 0.9);
}

.sidebar-overlay-primary::before {
   background: var(--light-primary);
}

.sidebar-overlay-success::before {
   background: var(--light-success);
}

.sidebar-overlay-pink::before {
   background: var(--light-pink);
}

.sidebar-overlay-warning::before {
   background: var(--light-warning);
}

.sidebar-overlay-purple::before {
   background: var(--light-purple);
}

/*======= Hide Sidebar Background Image =======*/
.background-none {
   background-image: none !important;
}

/*=========== Right Sidebar ============*/
.inner-toolbar {
   padding: 1.25rem;
}

.inner-toolbar .v-list-item {
   padding: 0;
}

.inner-toolbar .v-input--selection-controls {
   margin-top: 0;
   padding-top: 0;
}

.inner-toolbar .theme-color,
.inner-toolbar .sidebar-filter,
.inner-toolbar .header-filter .v-list {
   display: flex;
   align-items: center;
   justify-content: center;
}

.inner-toolbar .header-filter .v-list-item--link {
   min-height: 1.75rem;
   width: 1.75rem;
   border-radius: 100%;
   overflow: hidden;
   margin: 0 0.25rem;
   position: relative;
   flex: 0 0 auto;
}

.inner-toolbar .header-filter .v-list-item--link:after {
   position: absolute;
   content: "";
   border: 2px solid var(--light);
   transform: scale(2);
   opacity: 0;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: 0.25rem;
   border-radius: 100%;
   transition: all 0.3s ease-in-out;
}

.inner-toolbar .header-filter .v-list-item--link:before {
   display: none;
}

.inner-toolbar .header-filter .v-list-item--link span {
   height: 1.75rem;
   width: 1.75rem;
   position: relative;
   display: inline-block;
}

.inner-toolbar .header-filter .v-list-item--link span:before {
   position: absolute;
   content: "";
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
}

.inner-toolbar .header-filter .active-theme:after {
   transform: scale(1);
   opacity: 1;
}


.inner-toolbar .theme-layouts,
.inner-toolbar .theme-color,
.inner-toolbar .sidebar-filter,
.inner-toolbar .header-filter,
.inner-toolbar .sidebar-images {
   padding: 1.25rem;
   border-radius: 4px;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.09);
   margin-bottom: 1.5rem;
}

.inner-toolbar .sidebar-filter,
.inner-toolbar .header-filter {
   .v-list .v-list-item--link:nth-child(2) {
      border: 1px solid var(--dark);
      max-height: 1.6875rem;
      width: 1.6875rem;
   }

   .v-list-item--link:nth-child(2):after {
      border-color: var(--dark);
   }
}

.inner-toolbar .img-holder {
   border: 3px solid transparent;
}

.inner-toolbar .img-holder.active {
   border-color: var(--success);
}

.inner-toolbar .img-holder img {
   display: block;
   height: 110px;
   width: 50px;
}

/*================= Mini Sidebar ================*/
.v-navigation-drawer--mini-variant .v-list-item > *:not(:first-child) {
   display: block !important;
}

.v-navigation-drawer--mini-variant .v-list-group--no-action .v-list-group__items,
.v-navigation-drawer--mini-variant .v-list-group--sub-group {
   display: block;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer {
   transition: all 0.3s ease-in-out;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer .navigation .v-list .v-list-group .v-list-group__header .v-list-item span,
.collapse-sidebar .Vuely-sidebar.v-navigation-drawer .navigation .v-list .v-list-group .v-list-group__items,
.collapse-sidebar .Vuely-sidebar.v-navigation-drawer .v-list > div > div > .v-list-item--link .v-list-item__title span,
.collapse-sidebar .Vuely-sidebar.v-navigation-drawer .v-list > div > div > .v-list-item--link .v-list-item__action,
.collapse-sidebar .Vuely-sidebar.v-navigation-drawer .v-list-group__header__prepend-icon,
.collapse-sidebar .Vuely-sidebar.v-navigation-drawer .sidebar-profile .v-list-item__title,
.collapse-sidebar .Vuely-sidebar.v-navigation-drawer .sidebar-profile .v-btn,
.collapse-sidebar .Vuely-sidebar.v-navigation-drawer .sidebar-title {
   opacity: 0;
   transition: all 0.3s ease-in-out;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer .sidebar-title {
   max-height: 0;
   overflow: hidden;
   transition: all 0.3s ease-in-out;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer .sidebar-profile {
   padding-left: 3rem;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer .v-list-group {
   margin-left: -21px;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer .site-logo .router-link-active {
   max-width: 35px;
   overflow: hidden;
   transition: all 0.3s ease-in-out;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer .sidebar-profile .v-list-item__title {
   line-height: 1.75rem;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer .v-list-item__content > div {
   white-space: nowrap;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer .navigation .v-list .v-list-group {
   overflow: hidden;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer .navigation .v-list .v-list-group .v-list-group__items {
   max-height: 0;
   transition: all 0.3s ease-in-out;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer .v-list > div > div > .v-list-item--link {
   padding: 0;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer .v-list > div > div > .v-list-item--link > .v-list-item__action {
   padding: 0 0.25rem;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer.v-navigation-drawer--mini-variant .v-list-group__header__prepend-icon {
   flex: none;
   justify-content: flex-start;
   transition: all 0.3s ease-in-out;
   width: auto;
   padding: 0;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer.v-navigation-drawer--mini-variant .v-list-item__content,
.collapse-sidebar .Vuely-sidebar.v-navigation-drawer.v-navigation-drawer--mini-variant .v-list-item:after {
   opacity: 1 !important;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer:hover {
   width: var(--sidebar-width) !important;
   z-index: 9;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer:hover .navigation .v-list .v-list-group .v-list-group__header .v-list-item span,
.collapse-sidebar .Vuely-sidebar.v-navigation-drawer:hover .navigation .v-list .v-list-group .v-list-group__items,
.collapse-sidebar .Vuely-sidebar.v-navigation-drawer:hover .v-list > div > div > .v-list-item--link .v-list-item__title span,
.collapse-sidebar .Vuely-sidebar.v-navigation-drawer:hover .v-list > div > div > .v-list-item--link .v-list-item__action,
.collapse-sidebar .Vuely-sidebar.v-navigation-drawer:hover .v-list-group__header__prepend-icon,
.collapse-sidebar .Vuely-sidebar.v-navigation-drawer:hover .sidebar-profile .v-list-item__title,
.collapse-sidebar .Vuely-sidebar.v-navigation-drawer:hover .sidebar-profile .v-btn,
.collapse-sidebar .Vuely-sidebar.v-navigation-drawer:hover .sidebar-title {
   opacity: 1;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer:hover .sidebar-profile {
   padding-left: 0.9375rem;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer:hover .v-list-group {
   margin-left: 0;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer:hover .v-list > div > div > .v-list-item--link > .v-list-item__action {
   padding: 0 1.3rem;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer:hover .site-logo .router-link-active {
   max-width: 120px;
   overflow: visible;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer:hover .v-list-group__header__prepend-icon {
   padding: 0 1rem;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer:hover .navigation .v-list .v-list-group .v-list-group__items {
   max-height: 1000px;
}

.collapse-sidebar .Vuely-sidebar.v-navigation-drawer:hover .sidebar-title {
   max-height: 3rem;
}

/*=============== Sidebar-Light ================*/

.sidebar-overlay-light *,
.sidebar-overlay-light i,
.sidebar-overlay-light a,
.sidebar-overlay-light span,
.sidebar-overlay-light .v-icon,
.sidebar-overlay-light .v-list-item__title {
   color: var(--body-color) !important;
}

/*================= Chat-Sidebar ===================*/

@media (max-width: 768px) and (min-width: 320px) {
   .chat-sidebar-wrap {
      width: 250px !important;
   }
   .chat-sidebar-wrap .v-tabs * {
      font-size: 0.875rem;
   }
   .chat-sidebar-wrap .v-list-item__action i,
   .chat-sidebar-wrap .v-toolbar__content * {
      font-size: var(--html-font-size);
   }
   .title-bar .v-breadcrumbs h2 {
      width: 100%;
   }
}

.sidebar .v-list-item__content a {
   display: block !important;
}

.v-navigation-drawer .navigation .v-list .v-list-group.not-submenu .v-list-group__header.v-list-item--active .v-list-group__header__prepend-icon .v-icon {
   transform: rotate(0deg);
}
