/*============ User css ===========*/

.user-image img {
  box-shadow: 0 7px 14px 0 rgba(0,0,0,0.21);
}

.social-list ul li {
  padding: 0 10px;
}

.social-list ul li a {
  text-decoration: none;
}

.profile-top {
  overflow: hidden;
}

.profile-bottom {
  margin-top: -50px;
}

.profile-body .layout > .flex {
  display: initial;
}

.profile-body .layout > .flex > .flex {
  padding: 0;
}

.user-activity {
  padding: 0.9375rem;
}

.user-activity ul li {
  border-right: 2px solid var(--gray-lighter);
  padding: 0 0.625rem;
}

.user-activity ul li:last-child {
  border: none;
}

.user-activity ul li span {
  font-size: 1.375rem;
  margin: 0 10px;
}

.overlap {
  position: absolute;
  right: -32px;
  top: -30px;
}

.media-listing .media {
  padding: 1.25rem;
}

@media (max-width: 1199px) and (min-width: 960px) {
  .media-full {
     width: 100%;
     display: block;
  }

  .media-full img {
     width: 100%;
     margin-bottom: 15px;
  }

  .media-full .media-body {
     width: 100%;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .media-full {
     width: 100%;
     display: block;
  }

  .media-full img {
     width: 100%;
     margin-bottom: 15px;
  }

  .media-full .media-body {
     width: 100%;
  }
}

@media (max-width: 588px) and (min-width: 320px) {
  .user-activity ul li {
     display: block;
     width: 100%;
     border-right: none;
     border-bottom: 1px solid var(--gray-lighter);
     padding: 10px;
  }

  .overlay-input .v-input--radio-group__input {
     padding-left: 14px;
  }

  .overlay-input .v-input--radio-group__input > div:nth-child(3),
  .overlay-input .v-input--radio-group__input > div:nth-child(4) {
     width: 100% !important;
  }

  .v-color-picker__canvas {
     width: 100% !important;
  }
}
