/*============== Calendar =============*/
.comp-full-calendar {
  max-width: 100% !important;
}

.comp-full-calendar .full-calendar-header {
  bg-color: #0835ea; /* Replace with actual calendar header background color */
  padding: 30px;
  color: #fff !important; /* Replace with light color */
}

.comp-full-calendar .full-calendar-header .prev-month, 
.comp-full-calendar .full-calendar-header .next-month {
  font-size: 1.5rem;
  vertical-align: middle;
  margin: 0 10px;
  bg-color: #f0f0f0; /* Replace with actual calendar event background */
  padding: 1px 13px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}

.comp-full-calendar .full-calendar-header .title {
  vertical-align: middle;
}

.comp-full-calendar .full-calendar-body {
  margin-top: 0;
}

.comp-full-calendar .full-calendar-body .weeks .week {
  padding: 30px 10px;
}

.comp-full-calendar .full-calendar-body .dates .dates-events .events-week .events-day .event-box .event-item {
  bg-color: #f0f0f0; /* Replace with actual calendar event background */
  height: 30px;
  line-height: 30px;
  color: #fff; /* Replace with light color */
  font-size: 1rem;
}

@media (max-width: 599px) and (min-width: 320px) {
  .comp-full-calendar {
     padding: 0 !important;
  }

  .comp-full-calendar .full-calendar-body .weeks .week {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
  }
}
