/*========= Ecommerce ==========*/

.shop-wrapper .shop-content-wrap .shop-header {
    width: 75%;
}
.shop-wrapper .shop-content-wrap .shop-header .app-selectbox-sm {
    width: 35% !important;
}
.shop-wrapper .shop-content-wrap .shop-header .app-selectbox-sm:before {
    display: none;
}
.shop-wrapper .shop-content-wrap .shop-header .app-selectbox-sm select {
    width: 100%;
    border: 0;
    border-radius: 0;
}
.shop-wrapper .shop-content-wrap .ais-stats {
    font-size: 12px;
}
.shop-wrapper .shop-content-wrap .pagination__item--active .ais-pagination__link {
    color: var(--light);
}
.shop-wrapper .shop-content-wrap .ais-Hits-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.3125rem;
}
.shop-wrapper .shop-content-wrap .ais-Hits-list .ais-Hits-item {
    width: calc(33.3333% - 1.5rem);
    border: 0;
    padding: 0;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
.shop-wrapper .shop-content-wrap .ais-Hits-list .ais-Hits-item > div,
.shop-wrapper .shop-content-wrap .ais-Hits-list .ais-Hits-item > div > div {
    height: 100%;
}
.shop-wrapper .shop-content-wrap .product-item .overlay-wrap {
    text-align: center;
}
.shop-wrapper .shop-content-wrap .product-item .overlay-wrap .overlay-content {
    opacity: 0;
    transform: scale(0.7);
    transition: all 0.3s ease-in-out;
}
.shop-wrapper .shop-content-wrap .product-item .overlay-wrap .overlay-content .v-btn {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out 0.05s;
}
.shop-wrapper .shop-content-wrap .product-item .overlay-wrap:hover .overlay-content {
    opacity: 0.9;
    transform: scale(1);
}
.shop-wrapper .shop-content-wrap .product-item .overlay-wrap:hover .overlay-content .v-btn {
    transform: translateY(0);
}
.shop-wrapper .shop-content-wrap .product-item .app-footer {
    padding: 0.75rem 1.25rem;
    min-height: 65px;
}
.shop-wrapper .sidebar-filter-wrap {
    padding-right: 10px;
}
.shop-wrapper .sidebar-filter-wrap .ais-RangeInput-form {
    flex-wrap: wrap;
}
.shop-wrapper .sidebar-filter-wrap .ais-SearchBox-form input {
    font-size: 0.875rem;
    border: 0;
}
.shop-wrapper .sidebar-filter-wrap .ais-SearchBox-form input::placeholder {
    color: var(--gray);
}
.shop-wrapper .sidebar-filter-wrap .ais-RefinementList .ais-RefinementList-list {
    padding-left: 0;
}
.shop-wrapper .sidebar-filter-wrap .ais-RefinementList .ais-RefinementList-item .ais-RefinementList-label {
    margin: 0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.shop-wrapper .sidebar-filter-wrap .ais-RefinementList .ais-RefinementList-item .ais-RefinementList-checkbox {
    margin: 0 0.625rem;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}
.shop-wrapper .sidebar-filter-wrap .ais-RefinementList .ais-RefinementList-item .ais-RefinementList-labelText {
    width: 80%;
    font-size: var(--font-size-sm);
    font-weight: 500;
}
.shop-wrapper .sidebar-filter-wrap .ais-RefinementList .ais-RefinementList-item .ais-RefinementList-count {
    float: right;
    padding: 0.1rem 0.4rem;
    font-size: 12px;
    color: var(--body-color);
    bg-color: var(--aqua-bg);
    border-radius: 8px;
    font-weight: 500;
}
.shop-wrapper .sidebar-filter-wrap .ais-RatingMenu .ais-RatingMenu-list {
    padding-left: 0;
}
.shop-wrapper .sidebar-filter-wrap .ais-RatingMenu .ais-RatingMenu-item a {
    color: var(--body-color);
}
.shop-wrapper .sidebar-filter-wrap .ais-RatingMenu .ais-RatingMenu-item a .ais-RatingMenu-starIcon {
    color: var(--warning) !important;
    width: 20px;
}
.shop-wrapper .sidebar-filter-wrap .ais-RatingMenu .ais-RatingMenu-item a .ais-RatingMenu-label {
    margin-left: 0.5rem;
}
.shop-wrapper .sidebar-filter-wrap .ais-RatingMenu .ais-RatingMenu-item a .ais-RatingMenu-label,
.shop-wrapper .sidebar-filter-wrap .ais-RatingMenu .ais-RatingMenu-item a .ais-RatingMenu-count {
    font-size: 0.875rem;
    font-weight: 500;
}
.shop-wrapper .sidebar-filter-wrap .ais-ClearRefinements-button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 600;
    background: var(--primary) !important;
    color: var(--light);
}
.shop-wrapper .sidebar-filter-wrap .ais-RangeInput .ais-RangeInput-label {
    padding: 0 0.2rem;
    border: 2px solid var(--border-color);
    margin-bottom: 0.5rem;
}
.shop-wrapper .sidebar-filter-wrap .ais-RangeInput .ais-RangeInput-label input {
    line-height: 1.25rem;
    font-size: 12px;
}
.shop-wrapper .sidebar-filter-wrap .ais-RangeInput .ais-RangeInput-separator {
    margin: 0 0.5rem;
    line-height: 1.1;
}
.shop-wrapper .sidebar-filter-wrap .ais-RangeInput .ais-RangeInput-submit {
    bg-color: var(--primary);
    color: var(--light);
    padding: 2.5px 8px;
    border-radius: 4px;
    font-size: 12px;
    margin: -6px 0.5rem 0;
    font-weight: 500;
    line-height: 1.1;
}
.shop-wrapper .pagination-wrap {
    display: inline-block;
}
.shop-wrapper .pagination-wrap .ais-Pagination-list {
    list-style-type: none;
    display: flex;
    border: 1px solid var(--border-color);
    padding: 0;
    margin: 0;
}
.shop-wrapper .pagination-wrap .ais-Pagination-list .ais-Pagination-item {
    margin-left: 0;
}
.shop-wrapper .pagination-wrap .ais-Pagination-list .ais-Pagination-item:not(:last-child) {
    border-right: 1px solid var(--border-color);
}
.shop-wrapper .pagination-wrap .ais-Pagination-list .ais-Pagination-item .ais-Pagination-link {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 0;
}
.shop-wrapper .pagination-wrap .ais-Pagination-list .ais-Pagination-item--selected,
.shop-wrapper .pagination-wrap .ais-Pagination-list .ais-Pagination-item--selected .ais-Pagination-link {
    bg-color: var(--primary);
}
.shop-wrapper .pagination-wrap .ais-Pagination-list .ais-Pagination-item--disabled .ais-Pagination-link {
    color: var(--gray) !important;
}


/*================= Cart =====================*/

.cart-wrapper table tbody td {
    height: auto;
}
.cart-wrapper table tbody td.count-wrap input {
    border: 1px solid var(--secondary);
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    width: 7rem;
}
.cart-wrapper table tbody td.product-item {
    width: 100px;
    height: 100px !important;
}
.cart-wrapper .table-footer {
    border-top: 1px solid var(--border-color);
}
.cart-wrapper .table-footer > div {
    padding: 1rem;
}
.cart-wrapper .table-footer > div .v-input.v-text-field .v-input__slot {
    margin: 0;
}
.cart-wrapper .table-footer > div .v-input.v-text-field .v-text-field__details {
    display: none;
}
.cart-wrapper .table-footer > div:first-child {
    width: 60%;
}


/*================= Checkout =====================*/

.checkout-wrap .layout .flex {
    padding: 0 12px;
}
.checkout-wrap .input-group label {
    font-size: var(--font-size-sm);
}
.checkout-wrap .input-group.checkbox label {
    margin-top: 2px;
}
.v-add-products .product-images {
    width: 4.375rem;
}
.v-add-products .product-preview-wrap {
    width: calc(100% - 4.375rem - 1rem);
}
.v-add-products .thumb-wrap {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
}
.v-add-products .thumb-wrap .v-image {
    width: 100% !important;
}
.v-add-products .upload-img {
    width: inherit;
    height: inherit;
    top: 18px;
    opacity: 0;
    z-index: 2;
}
.v-add-products .upload-img, .v-add-products .edit-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.v-add-products .edit-btn {
    top: 0;
    pointer-events: none;
}
.v-add-products .edit-btn .v-icon {
    bg-color: var(--light);
    color: var(--primary);
    font-weight: 500;
    border-radius: 50%;
    pointer-events: none;
    height: 1.875rem;
    width: 1.875rem;
    font-size: 1.25rem;
}
.v-add-products .content-wrap .v-input__icon--prepend .v-icon {
    color: var(--primary);
    font-size: 0.875rem;
}
.v-add-products .content-wrap .v-input__slot:after,
.v-add-products .content-wrap .v-input__slot:before {
    display: none;
}
.v-add-products .content-wrap .v-input input,
.v-add-products .content-wrap .v-input input::placeholder {
    min-height: 40px;
    color: var(--gray-dark);
    font-size: 0.875rem;
}
.v-add-products .content-wrap .v-input input {
    font-weight: 400;
}
.v-add-products .content-wrap .v-input label {
    font-weight: 700;
    color: var(--gray-dark);
}
.v-add-products .content-wrap .v-text-field__details {
    display: none;
}
.v-add-products .content-wrap .name-input input,
.v-add-products .content-wrap .name-input .v-icon,
.v-add-products .content-wrap .name-input input::placeholder {
    font-size: 1.625rem;
    font-weight: 600;
    opacity: 1;
}
.v-add-products .content-wrap .price-input input,
.v-add-products .content-wrap .price-input .v-icon,
.v-add-products .content-wrap .price-input input {
    font-size: 1.375rem;
    font-weight: 600;
}
.v-add-products .content-wrap .price-input input,
.v-add-products .content-wrap .price-input input::placeholder {
    color: var(--danger);
    opacity: 1;
}
.v-add-products .content-wrap .price-input,
.v-add-products .content-wrap .name-input .v-input__prepend-outer {
    margin-top: 11px;
}
.v-add-products .content-wrap .v-text-field .v-label--active {
    transform: translateY(-18px) scale(1);
}
.v-product-details .content-wrap .v-input__slot:after,
.v-product-details .content-wrap .v-input__slot:before {
    display: block;
}
.v-product-details .content-wrap .v-input input,
.v-product-details .content-wrap .v-input input::placeholder {
    min-height: 32px;
}
.v-product-details .content-wrap .v-input label {
    font-weight: 500;
}

/*===================== Responsive ================= */

@media(max-width:959px) and (min-width:320px) {
    .shop-wrapper .shop-filter {
        display: none !important;
    }
    .shop-wrapper .shop-content-wrap > div.d-custom-flex {
        display: block !important;
    }
    .shop-wrapper .shop-header .ham-menu-sm {
        display: block !important;
    }
    .shop-wrapper .shop-header .app-selectbox-sm {
        width: 55% !important;
    }
    .shop-wrapper .ais-Hits-list {
        padding-right: 12px;
    }
    .shop-wrapper .ais-Hits-item {
        width: calc(50% - 1.5rem);
    }

    .cart-wrapper table tbody td {
        padding: 1rem;
    }
    .cart-wrapper table tbody .product-item {
        width: 70px !important;
        height: 70px !important;
    }
    .cart-wrapper table tfoot tr td .v-input.v-text-field .v-input__control {
        min-height: 35px !important;
    }
    .cart-wrapper table tfoot tr td .v-input.v-text-field input {
        font-size: 0.875rem !important;
    }

    .checkout-wrap td {
        padding: 1rem !important;
    }
    .checkout-wrap .product-img {
        height: 90px;
        width: 90px;
    }

    .v-add-products .product-images, .v-edit-products .product-images {
        width: 6rem;
        margin-right: 2rem !important;
    }
    .v-add-products .product-preview-wrap, .v-edit-products .product-preview-wrap {
        width: calc(100% - 6rem - 2.5rem);
    }
    .v-add-products .thumb-wrap .v-image, .v-edit-products .thumb-wrap .v-image {
        height: 80px !important;
    }
}


@media (max-width: 767px) {
    .v-add-products .product-images, .v-edit-products .product-images {
        width: 5rem;
        margin-right: 1rem !important;
    }
    .v-add-products .v-image, .v-edit-products .v-image {
        height: 5rem !important;
    }
    .v-add-products .thumb-wrap, .v-edit-products .thumb-wrap {
        margin-bottom: 1rem;
    }
    .v-add-products .product-preview-wrap, .v-edit-products .product-preview-wrap {
        width: calc(100% - 5rem - 1rem);
    }
}


@media(max-width:599px) and (min-width:320px) {
    .shop-wrapper .ais-pagination__link {
        height: 1.75rem !important;
        width: 1.70rem !important;
    }
    .shop-wrapper .shop-content-wrap .shop-header {
        display: block !important;
    }
    .shop-wrapper .shop-content-wrap .shop-header > div {
        margin-bottom: 1rem;
    }
    .shop-wrapper .shop-content-wrap .shop-header > div.ml-4 {
        margin-left: 0 !important;
    }
    .shop-wrapper .shop-content-wrap .app-selectbox-sm {
        width: 100% !important;
    }
    .shop-wrapper .ais-Hits-list .ais-Hits-item {
        width: 100%;
    }
    .v-btn {
        font-size: 0.875rem !important;
    }
    .v-btn--icon, .v-btn--small {
        height: 32px !important;
        width: 32px !important;
    }
    .checkout-wrap .v-input__icon--prepend .v-icon,
    .checkout-wrap .v-input__icon--prepend label {
        font-size: 1.1rem !important;
    }
    .checkout-wrap .v-input {
        margin-top: 0.5rem;
    }
    .cart-wrapper .table-footer > div:first-child {
        width: 100%;
    }
    .product-list .tab-image {
        width: 100%;
    }
    .product-list .action-btn {
        width: 50px;
        text-align: left !important;
    }
    .product-list .section-content {
        width: 100%;
    }
    .v-add-products .product-images,
    .v-edit-products .product-images {
        width: 4rem;
        margin-right: 1rem !important;
    }
    .v-add-products .v-image,
    .v-edit-products .v-image {
        height: 4rem !important;
    }
    .v-add-products .thumb-wrap,
    .v-edit-products .thumb-wrap {
        margin-bottom: 1rem;
    }
    .v-add-products .product-preview-wrap,
    .v-edit-products .product-preview-wrap {
        width: calc(100% - 4rem - 1rem);
    }
}

