/*======== Main css ========*/
.app-card {
    bg-color: var(--card-bg);
    border-radius: var(--card-border-radius);
    margin-bottom: var(--card-margin-bottom);
    box-shadow: var(--card-shadow);
    transition: all .4s ease-in-out 0s;
    position: relative;
    height: 100%;
    overflow: hidden;
}
.app-card .app-card-title {
    position: relative;
    padding: var(--card-title-spacing);
    border-bottom: var(--card-title-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app-card .app-card-title h3, .app-card .app-title {
    font-size: var(--card-title-font-size);
    color: var(--card-title-color);
    text-transform: var(--card-title-transform);
    font-weight: var(--card-title-weight);
    margin: 0;
}
.app-card .app-contextual-link .v-btn .v-icon {
    color: var(--contextual-link-color);
}
.app-card .app-card-content {
    padding: var(--card-spacing);
}
.app-card .app-full-content {
    padding: 0;
}
.app-card .app-footer {
    padding: var(--card-footer-spacing);
    border-top: var(--card-border);
}
.app-card .app-footer .v-btn {
    margin: 0;
}
.app-card:hover {
    box-shadow: var(--card-hover-shadow);
}

.app-card-action {
    bg-color: var(--base-light) !important;
    overflow: hidden;
}
.app-card-action .v-list-item {
    height: 40px;
    font-size: 0.875rem;
    margin: 0.3125rem;
    bg-color: var(--light);
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.02);
}
.app-card-action .v-list-item span {
    transition: all 0.4s ease-in-out;
}
.app-card-action .v-list-item:hover {
    bg-color: var(--light) !important;
}
.app-card-action .v-list-item:hover span {
    color: var(--primary) !important;
}

.content {
    overflow-y: hidden;
}

.dash-title {
    margin: 0.9375rem 0;
}
.dash-title span {
    color: var(--d-title-color);
    font-size: var(--d-title-font-size);
    text-transform: var(--d-title-transform);
    letter-spacing: 2px;
    font-weight: bold;
}
.dash-title a {
    vertical-align: 1px;
}
.dash-title a .v-icon {
    font-size: var(--d-title-font-size);
    margin-left: 5px;
}

.dash-card-wrap, .card {
    transition: all 0.4s ease-in-out 0s;
}
.dash-card-wrap:hover, .card:hover {
    box-shadow: var(--card-hover-shadow);
}

#nprogress .bar {
    background: var(--danger) !important;
}
#nprogress .spinner-icon {
    border-top-color: var(--danger) !important;
    border-left-color: var(--danger) !important;
}
