/*========= Widgets css ==========*/

.dialog .card__title {
   font-size: 1.25rem;
   font-weight: bold;
}

.support-widget-wrap .app-full-content {
   height: 75%;
}

.support-widget-wrap .support-widget {
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: space-between;
}

.support-widget-wrap ul li {
   display: flex;
}

.support-widget-wrap ul li:not(:nth-child(2)) {
   bg-color: #F4F7FA !important;
}

.support-widget-wrap ul li {
   padding: 0.3125rem 1rem;
}

.support-widget-wrap ul li button {
   margin: 0;
}

.support-widget-wrap ul li .content-title {
   width: 20%;
}

.support-widget-wrap ul li .badge-wrap {
   width: 30%;
}

.support-widget-wrap ul li .v-badge {
   min-width: 100px;
}


.footer-flex {
   display: flex;
}

.flag-img {
   display: inherit;
}

/* //Blog Layout Three */
.blog-layout-two .v-card__text,
.blog-layout-three p {
   font-size: 1rem;
   font-weight: 500;
   line-height: 1.5;
}

.blog-layout-three {
   overflow: hidden;
}

.blog-layout-three .blog-overlay {
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.81) 100%);
}


/* //Quote Of the Day */
.review-slider .app-card-title {
   bg-color: rgba(0, 0, 0, 0.3);
   border-color: rgba(0, 0, 0, 0.2);
}

.review-slider .app-card-title h3 {
   color: var(--light);
}

.review-slider .slick-dots {
   text-align: left;
   bottom: -20px;
}

.review-slider .slick-dots li {
   margin: 0;
}

.review-slider .slick-dots li button:before {
   color: var(--light);
   font-size: 0.5rem;
}


/* //Team Avatar */
.team-avatar ul {
   position: relative;
   margin-top: 5px;
}

.team-avatar ul li {
   list-style-type: none;
}

.team-avatar ul li > div {
   height: 1.875rem;
   width: 1.875rem;
   border: 2px solid transparent;
   transform: translateY(0) scale(1);
   transition: all 0.2s ease-in-out;
   border-radius: 50% !important;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

.team-avatar ul li > div img {
   border-radius: 50%;
   display: block;
}

.team-avatar ul li > div .v-tooltip > span {
   display: block;
}

.team-avatar ul li:hover > div {
   border-color: var(--light);
   z-index: 999;
   transform: translateY(-4px) scale(1.02);
   box-shadow: 0 14px 24px rgba(62, 57, 107, 0.2);
}

.team-avatar ul li:not(:first-child) {
   margin-left: -0.85rem;
}

.customer-overview-widget .app-full-content {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   height: 86%;
}


/*============= Event Calender ====================*/

.app-event-calendar .event-tab-wrapper {
   background: url(/public/static/img/blog-6.jpg) no-repeat center center;
   background-size: cover;
}

.app-event-calendar .event-tab-wrapper .event-heading-wrap {
   opacity: 0.925;
   padding: 1.5rem 1.5rem 0 1.5rem;
}

.app-event-calendar .event-tab-wrapper .event-heading-wrap ul li.event-tab {
   display: inline-block;
}

.app-event-calendar .event-tab-wrapper .event-heading-wrap ul li.event-tab a {
   color: var(--light);
   letter-spacing: 0.23px;
   font-weight: var(--font-weight-semi-bold);
   font-size: var(--font-size-sm);
   line-height: 20px;
   text-align: center;
   padding: 0.65rem 0.9rem;
   border-radius: 3px 3px 0 0;
}

.app-event-calendar .event-tab-wrapper .event-heading-wrap ul li.event-tab.active a {
   bg-color: var(--light);
   color: var(--primary);
}

.app-event-calendar .tab-content-wrap .event-user-list .v-list-item {
   border-bottom: 1px solid, var(--border-color);
}

.app-event-calendar .tab-content-wrap .event-user-list .v-list-item .v-list-item__action {
   opacity: 0;
   transition: opacity 0.3s linear;
}

.app-event-calendar .tab-content-wrap .event-user-list .v-list-item:hover .v-list-item__action {
   opacity: 1;
}

.app-event-calendar .tab-content-wrap .app-event-item {
   border-left-width: 8px;
   border-left-style: solid;
   margin-bottom: 2px;
   bg-color: var(--base-light);
   transition: all 0.3s linear;
}

.app-event-calendar .tab-content-wrap .app-event-item .v-list-item__action {
   opacity: 0;
   transition: opacity 0.3s linear;
}

.app-event-calendar .tab-content-wrap .app-event-item .v-list-item__action .v-btn--icon .v-icon {
   font-size: 1.25rem !important;
}

.app-event-calendar .tab-content-wrap .app-event-item:hover {
   bg-color: var(--light);
   box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.18);
}

.app-event-calendar .tab-content-wrap .app-event-item:hover .v-list-item__action {
   opacity: 1;
}

.app-event-calendar .info-border {
   border-color: var(--info) !important;
}

.app-event-calendar .success-border {
   border-color: var(--success) !important;
}

.app-event-calendar .danger-border {
   border-color: var(--danger) !important;
}

.app-event-calendar .warning-border {
   border-color: var(--warning) !important;
}

.app-event-calendar .primary-border {
   border-color: var(--primary) !important;
}


.server-load-chart {
   position: absolute;
   bottom: -1.5rem;
   left: 0rem;
   right: 0;
}

/* //New Mail widget */
.hover-action {
   display: none;
   transition: all 0.4s linear 0s;
}

.hover-action button,
.hover-action a {
   height: 34px !important;
   width: 34px !important;
   font-size: 1.3rem;
}

.new-mail > div,
.new-mail > li {
   padding: 0.625rem 0.9375rem;
   border-bottom: 1px solid, var(--border-color);
}

.new-mail li .mail-content {
   display: flex;
}

.new-mail li .mail-content .mail-action {
   opacity: 0;
   transition: all 0.3s ease-in-out;
}

.new-mail li .mail-content .mail-action .v-btn {
   width: 30px !important;
   height: 30px !important;
}

.new-mail li .mail-content .mail-action .v-btn .v-icon {
   font-size: 1.125rem;
}

@media (max-width: 959px) {
   .new-mail li .mail-content {
      display: block !important;
   }

   .new-mail li .mail-content .mail-action {
      width: 100% !important;
      text-align: left !important;
   }
}

.new-mail li:hover .mail-action {
   opacity: 1;
}


/* // Miscellaneous Widgets */
.app-flex {
   display: flex;
}

.follwers-widgets ul li {
   border-bottom: 1px solid, var(--border-color);
   padding: 0.3125rem 0.9375rem;
}


/*================== Countdown =================*/

.countdown-wrap .count-value {
   border: 2px solid #5D92F4;
   padding: 0.4rem 0.8rem;
   box-shadow: 0px 3px 9px rgba(205, 221, 252, 0.85);
   height: 40px;
   width: 100px;
}


/*================== Booking Info =================*/

.booking-info-wrap .app-full-content ul li {
   transition: all 0.3s linear;
}

.booking-info-wrap .app-full-content ul li .btn__content:before {
   opacity: 1;
   transition: all 0.3s linear;
}

.booking-info-wrap .app-full-content ul li .btn__content .v-icon {
   color: var(--gray-light);
   z-index: 9;
}

.booking-info-wrap .app-full-content ul li:hover {
   bg-color: var(--base-light);
}

.booking-info-wrap .app-full-content ul li:hover .btn .btn__content:before {
   bg-color: var(--primary);
}

.booking-info-wrap .app-full-content ul li:hover .btn .btn__content .v-icon {
   color: var(--light);
}


/*================== Mailbox Wrapper =================*/

.mailbox-wrapper .v-list .v-list-item ul.icon-wrap {
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
}

.mailbox-wrapper .v-list .v-list-item ul.icon-wrap li {
   margin: 0 0.25rem;
}

.mailbox-wrapper .v-list .v-list-item ul.icon-wrap li .v-icon {
   font-size: var(--font-size-lg);
   color: var(--gray-dark);
}

.mailbox-wrapper .v-list .v-list-item .v-list-item__action-text {
   text-align: right;
}

.mailbox-wrapper .v-list .v-list-item:hover ul.icon-wrap {
   opacity: 1;
}


/*================== Activity Widget =================*/

.activity-widget-wrap > div {
   height: 100%;
}

.activity-widget-wrap .activity-widget li {
   border-left: 1px solid var(--gray-light);
   padding: 0 20px 15px 20px;
   position: relative;
}

.activity-widget-wrap .activity-widget li span.activity-time {
   display: block;
   font-size: 12px;
   color: var(--gray-light);
}

.activity-widget-wrap .activity-widget li span.v-badge {
   position: absolute;
   right: auto;
   top: 0;
   left: -9.75px;
   min-height: 1.125rem;
   min-width: 1.125rem;
}

.activity-widget-wrap .activity-widget li span.v-badge:before {
   border: 3px solid var(--light);
}

.activity-widget-wrap .activity-widget li p {
   margin-bottom: 0;
}


/*================== Chat Widget =================*/

.chat-widget-wrap .chat-widget .chat-bubble-wrap {
   max-width: 55%;
}

.chat-widget-wrap .chat-widget .chat-bubble {
   border-radius: 5px;
   padding: 0.625rem 0.875rem;
   box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
}

.chat-widget-wrap .send-message-box .v-text-field__details {
   display: none;
}

.chat-widget-wrap .send-message-box .v-input__slot {
   margin: 0;
}


/*================== Blog Layout Four =================*/

.blog-four-layout {
   background: url(/public/static/img/post-2.png) no-repeat center center;
   background-size: cover;
   overflow: hidden;
}


/* ============== TODO v-list ====================*/

.todo-list .v-list-item .v-list-item__sub-title {
   color: var(--gray-light);
}

.todo-list .v-list-item .trash-icon {
   opacity: 0;
   font-size: 1.125rem;
   transition: opacity 0.3s linear;
}

.todo-list .v-list-item:hover .v-list-item__sub-title {
   color: var(--body-color);
}

.todo-list .v-list-item:hover .trash-icon {
   opacity: 1;
}


/* ============== Social Icon ====================*/

.social-share-wrap {
   cursor: pointer;
}

.social-share-wrap .app-card-content > div {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.social-share-wrap .app-card-content > div > span {
   width: 40%;
   text-align: center;
}

.social-share-wrap .app-card-content > div > span:last-child {
   border-left: 1px dashed, var(--border-color);
}

.social-share-wrap .app-card-content .social-icon {
   width: 4.1875rem;
   height: 4.1875rem;
   bg-color: var(--base-light);
   justify-content: center;
   transition: all 0.4s ease-in-out;
}

.social-share-wrap .app-card-content .social-icon i {
   transition: all 0.4s ease-in-out;
}

.social-share-wrap .app-card-content:hover .social-icon {
   border-radius: 0 !important;
   border-color: transparent !important;
}

.social-share-wrap .app-card-content:hover .social-icon i {
   color: var(--light) !important;
}

.social-share-wrap .app-card-content:hover .facebook .social-icon {
   bg-color: #405DE6 !important;
}

.social-share-wrap .app-card-content:hover .twitter .social-icon {
   bg-color: #1FA2FA !important;
}

.social-share-wrap .app-card-content:hover .linkedin .social-icon {
   bg-color: #4875B4 !important;
}

.social-share-wrap .app-card-content:hover .google .social-icon {
   bg-color: #D82218 !important;
}


/* ============== Category Sales ====================*/

.category-progress-wrap span.label {
   width: 4rem;
   display: flex;
   align-items: flex-end;
   margin-bottom: 1rem;
}

.category-progress-wrap span {
   font-size: 12px;
   color: var(--gray);
}

.category-progress-wrap .progress-wrap {
   width: 100%;
   margin: 0.75rem 0;
}

.category-progress-wrap .progress-wrap span {
   display: block;
   text-align: right;
}

.category-progress-wrap .v-progress-linear {
   margin: 0;
}

.category-progress-wrap .v-progress-linear .v-progress-linear__background {
   border-radius: 0 100px 100px 0;
   bg-color: #E9ECEF !important;
   opacity: 1 !important;
}

/*==================== Activity-Around-World ================*/

.activity-around-world ul.country-progress li:not(:last-child) {
   border-bottom: 1px solid, var(--border-color);
}

/*==================== Traffic-Channel ================*/

.traffic-channel-widget .v-list-item {
   padding: 0;
}

.traffic-channel-widget .v-list-item p {
   margin: 0 1rem 0.4rem 0;
   width: 4.5rem;
   color: var(--gray);
   font-size: 12px;
   font-weight: var(--font-weight-semi-bold);
   align-self: flex-end;
}

.traffic-channel-widget .v-list-item > div {
   width: 100%;
}

.traffic-channel-widget .v-list-item > div span {
   color: var(--gray);
   font-size: 12px;
   display: block;
   text-align: right;
}

.traffic-channel-widget .v-list-item .v-progress-linear {
   margin: 0;
}

.traffic-channel-widget .v-list-item .v-progress-linear .v-progress-linear__background {
   border-radius: 0 200px 200px 0;
}

.traffic-channel-widget .v-list-item .v-progress-linear .v-progress-linear__bar .v-progress-linear__bar__determinate {
   border-radius: 0 200px 200px 0;
}

/*==================== Browser Static ================*/

.browser-statics-wrapper .v-list .v-list-item {
   border-bottom: 1px solid, var(--border-color);
   display: flex;
   justify-content: space-between;
}

.browser-statics-wrapper .v-list .v-list-item > div {
   display: flex;
   align-items: center;
   width: 50%;
}

.browser-statics-wrapper .v-list .v-list-item > div h6.primary--text {
   text-align: center;
}

.browser-statics-wrapper .v-list .v-list-item h6 {
   margin-bottom: 0;
}

.browser-statics-wrapper .v-list .v-list-item span,
.browser-statics-wrapper .v-list .v-list-item h6.primary--text {
   width: 50%;
}

/*==================== Support Ticket Wrap ================*/

.support-ticket-wrap .v-list .v-listing {
   padding: 0;
}

.support-ticket-wrap .v-list .v-list-item {
   border-bottom: 1px solid, var(--border-color);
   height: auto;
   align-items: flex-start;
   padding: 0 1.5rem;
}

.support-ticket-wrap .v-list .v-list-item .v-list-item__content * {
   line-height: 1.5;
}

.support-ticket-wrap .v-list .v-list-item .v-list-item__content i {
   color: var(--gray-light);
   font-size: 12px;
}

/*==================== User Stats Wrap ================*/

.user-stats-wrap .v-progress-linear,
.platform-user-stats .v-progress-linear,
.server-status-widget .v-progress-linear {
   margin: 1rem 0;
}

.user-stats-wrap .v-progress-linear .v-progress-linear__background,
.platform-user-stats .v-progress-linear .v-progress-linear__background,
.server-status-widget .v-progress-linear .v-progress-linear__background {
   border-radius: 0 10px 10px 0;
}

.user-stats-wrap .v-progress-linear .v-progress-linear__determinate,
.platform-user-stats .v-progress-linear .v-progress-linear__determinate,
.server-status-widget .v-progress-linear .v-progress-linear__determinate {
   border-radius: 10px 0 0 10px;
}

.server-status-widget .v-progress-linear {
   margin: 0.875rem 0 2rem 0;
}

/*==================== Notification Wrap ================*/

.notification-wrap .v-list-item {
   border-bottom: 1px solid, var(--border-color);
}

.notification-wrap .v-list-item .v-avatar {
   bg-color: #F4F3F8;
   transition: all 0.3s ease-in-out;
}

.notification-wrap .v-list-item:hover .v-avatar {
   bg-color: var(--light);
}

.notificationv2-widget-wrap .message-widget .v-list-item {
   padding: 1rem 1.5rem;
}

.notificationv2-widget-wrap .message-widget .v-list-item,
.notificationv2-widget-wrap .message-widget .v-list-item__content {
   height: auto;
}

.notificationv2-widget-wrap .message-widget .message-time {
   width: 80px;
}

/*=============================== Blog Widget ==========================*/

.blog-widget .app-card-content {
   height: 100%;
}

.blog-widget .app-card-content .blog-layout-v1,
.blog-widget .app-card-content .add-blog-form {
   flex-direction: column;
}

.blog-widget .app-card-content .add-blog-form {
   height: 88%;
}

/*======================= Sales Area Chart ====================*/

.sales-chart-widget .app-full-content {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   height: 88%;
}

/*==================== Magazine stats card ================*/

.magazine-stats-card {
   box-shadow: none;
}

.magazine-stats-card .stats-card-title {
   width: 45%;
}

.magazine-stats-card .stats-card-chart {
   width: 55%;
}

/*==================== Recent User ================*/

.recent-user-wrap .v-list-item {
   border-bottom: 1px solid, var(--border-color);
}

.recent-user-wrap .v-list-item .v-list-item__title {
   height: auto;
}

.recent-user-wrap .v-list-item .v-avatar {
   position: relative;
}

.recent-user-wrap .v-list-item .v-list-item__subtitle a {
   color: var(--gray-light) !important;
}

.recent-user-wrap .v-list-item .v-list-item__action {
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
}

.recent-user-wrap .v-list-item:hover .v-list-item__action {
   opacity: 1;
}

.recent-user-wrap .v-list-item:hover .v-list-item__action .btn__content:before {
   bg-color: currentColor;
}

.recent-user-wrap .v-list-item:hover .v-list-item__sub-title a {
   color: var(--body-color);
}

/*==================== Top Author ================*/

.top-author-wrap .author-detail-wrap .author-avatar {
   padding: 2.25rem 0;
   margin-top: -2px;
}

.top-author-wrap .author-detail-wrap .author-avatar .avatar-img {
   position: absolute;
   top: 20px;
   left: 0;
   right: 0;
}

.top-author-wrap .author-detail-wrap .author-avatar .avatar-img img {
   box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.29);
}

.top-author-wrap .author-detail-wrap .author-contact-info li {
   display: flex;
   align-items: center;
   padding: 0.75rem 0.25rem;
}

.top-author-wrap .author-detail-wrap .author-contact-info li:not(:last-child) {
   border-bottom: 1px dashed, var(--border-color);
}

.top-author-wrap .author-detail-wrap .social-info li {
   margin: 0 0.25rem;
}

.top-author-wrap .author-detail-wrap .footer-content li {
   width: 33%;
   padding: 0.625rem 0;
}

.top-author-wrap .author-detail-wrap .footer-content li:not(:last-child) {
   border-right: 1px solid, var(--border-color);
}

/*==================== Slick Arrow =================*/

.top-author-wrap .slick-arrow {
   top: 2rem;
   z-index: 9;
   opacity: 0;
   transition: all 0.2s ease-in-out;
}

.top-author-wrap .slick-arrow.slick-prev {
   left: 20px;
   transform: translateX(1rem);
}

.top-author-wrap .slick-arrow.slick-next {
   right: 30px;
   transform: translateX(-1rem);
}

.top-author-wrap .slick-arrow:before {
   font-size: 1.5rem;
}

.top-author-wrap:hover .slick-arrow {
   opacity: 1;
   transform: translateX(0);
}

/*==================== Marketing Campaign ================*/

.marketing-campaign-wrap table a.social-icon {
   height: 1.75rem;
   width: 1.75rem;
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--light);
}

/*==================== Article Widget ================*/

.articles-widget table th, .articles-widget table td {
   padding-left: 24px;
   padding-right: 24px;
}

.articles-widget table td {
   height: auto !important;
}

.articles-widget table td .post-img {
   width: 150px;
}

/*================== Chat Chart Wrap ================*/

.sales-chart-wrap .v-text-field.v-text-field--solo .v-input__control {
   min-height: auto !important;
}

.sales-chart-wrap .v-text-field__details {
   display: none;
}

.sales-chart-wrap .v-input__slot {
   margin-bottom: 0;
}

/*==================== Recent Widget Comment ================*/

.recent-comment-widget .v-list .v-list-item {
   height: auto !important;
   padding: 0.75rem 1.25rem;
}

.recent-comment-widget .v-list .v-list-item:not(:last-child) {
   border-bottom: 1px solid var(--border-color);
}

.recent-comment-widget .v-list .v-list-item .v-list-item__avatar {
   justify-content: flex-start;
   margin: 0 !important;
   min-width: 56px !important;
}

.recent-comment-widget .v-list .v-list-item .v-list-item__content {
   padding: 0;
}

.recent-comment-widget .v-list .v-list-item .v-list-item__content p,
.recent-comment-widget .v-list .v-list-item .v-list-item__content h6 {
   line-height: 1.5;
}

.recent-comment-widget .v-list .v-list-item .v-list-item__action {
   opacity: 0;
   transition: 0.3s ease-in-out;
   width: 15%;
   align-self: center;
}

.recent-comment-widget .v-list .v-list-item .v-list-item__action .v-list-item__action-text {
   margin-left: auto;
}

.recent-comment-widget .v-list .v-list-item .v-list-item__action .v-btn {
   height: 2rem;
   width: 2rem;
}

.recent-comment-widget .v-list .v-list-item .v-list-item__action .v-btn .v-icon {
   font-size: 1.25rem;
   color: var(--danger) !important;
}

@media(max-width: 500px) {
   .recent-comment-widget .v-list .v-list-item {
      display: block !important;
   }

   .recent-comment-widget .v-list .v-list-item .v-list-item__avatar,
   .recent-comment-widget .v-list .v-list-item .v-list-item__content {
      margin-bottom: 0.625rem !important;
   }

   .recent-comment-widget .v-list .v-list-item .v-list-item__action {
      width: auto !important;
      justify-content: flex-start !important;
   }
}

.recent-comment-widget .v-list .v-list-item:hover .v-list-item__action {
   opacity: 1;
}

/*================== Campaign Performance ===============*/

.campaign-performance .app-full-content {
   height: 84%;
}

@media(max-width: 560px) {
   .campaign-performance .app-full-content {
      height: 80%;
   }
}

.campaign-performance .app-full-content .sales-chart-wrap {
   height: 100%;
   flex-direction: column;
}

.campaign-performance .app-footer > div {
   min-width: 180px;
   width: 40%;
}

/*==================== Gallery Grid Item ================*/

.grid-item {
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
   transition: box-shadow 0.3s ease-in-out;
   overflow: hidden;
}

.grid-item img {
   border: 5px solid var(--light);
   display: block;
}

.grid-item .overlay-content {
   padding: 1.25rem;
   display: flex;
   align-items: flex-end;
   transition: opacity 0.3s ease-in-out;
   opacity: 0;
}

.grid-item .overlay-content .content-info {
   transform: translateY(100%);
   transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}

.grid-item:hover .overlay-content {
   opacity: 0.85;
}

.grid-item:hover .overlay-content .content-info {
   transform: translateY(0);
}

/*====== Quote Of The Day =======*/

.quote-wrapper .avatar-wrap .quote-icon {
   position: absolute;
   top: -13px;
   left: -17px;
}

.quote-wrapper .slick-dots {
   bottom: -2rem;
}

.quote-wrapper .slick-dots li {
   margin: 0;
}

.quote-wrapper .slick-dots li button:before {
   color: var(--light);
   font-size: 0.75rem;
}

.quote-wrap2 .slick-dots li button:before {
   color: var(--gray);
}

/* Profit Share, Device Share, and Device Separation Wraps */

.profit-share-widget .overlay-content,
.device-share-widget .overlay-content,
.device-seperation-wrap .overlay-content {
   pointer-events: none;
}

.profit-share-widget .app-card-content {
   height: 85%;
}

.profit-share-widget .app-card-content .profit-share-chart {
   flex-direction: column;
}

/*================ Device Share Widget ================*/

.device-share-widget .app-card-content {
   height: 85%;
}

.device-share-widget .device-share-wrap {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   height: 100%;
}

.device-share-widget .widget-footer > div {
   width: 33%;
   margin: 0 1rem;
}

/*================ Device Seperation ================*/

.device-seperation-wrap .app-card-content {
   height: 83%;
}

.device-seperation-wrap .app-card-content > div {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   height: 100%;
}

.ad-campaign {
   flex-direction: column !important;
}

.ad-campaign .app-card-content {
   align-items: flex-end;
}

/*================ Stats Card v4 ================*/

@media (max-width: 990px) and (min-width: 600px) {
   .stats-card-v4 .app-card-content .d-custom-flex {
      display: block !important;
      justify-content: center !important;
   }

   .stats-card-v4 .app-card-content .d-custom-flex .w-50:first-child {
      margin-bottom: 1.5rem;
   }

   .stats-card-v4 .app-card-content .d-custom-flex .w-50 {
      width: 100% !important;
   }
}

.stats-wrap {
   padding: 1.5rem 1.5rem 0.75rem 1.5rem;
}

/*================ weekly sales Widget ================*/

.weekly-sales-widegt .app-full-content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 72%;
}

/*================ website-traffic-widget ==================*/

.website-traffic-wrap .app-full-content {
   height: 77%;
}

.website-traffic-wrap .app-full-content .website-traffic-widget {
   height: 100%;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}

.project-status-wrap table thead th:last-child {
   width: 115px;
}


/*============== Visitors chart Wrap =================*/

.visitors-chart-wrap .visitors-info {
   width: 40%;
}

.visitors-chart-wrap .visitors-chart {
   width: 60%;
}

.visitors-chart-wrap .visitors-chart .chartjs-render-monitor,
.visitors-chart-wrap .visitors-chart .echarts {
   width: 100% !important;
}

.chartjs-render-monitor {
   -webkit-animation: chartjs-render-animation 0.3s !important;
   animation: chartjs-render-animation 0.3s !important;
}

/*================== Trending News Widget ===================*/
.trending-news-widegt {
   background-image: url(/public/static/img/profile-bg.jpg);
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   z-index: 1;
   margin: 0rem -1.5rem 1.5rem -1.5rem;
   position: relative;
}

.trending-news-widegt:before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   bg-color: rgba(0, 0, 0, 0.3);
   z-index: -1;
}

.trending-news-widegt .slick-arrow {
   z-index: 1;
}

.trending-news-widegt .slick-arrow.slick-prev {
   right: 5rem;
   left: auto;
}

.trending-news-widegt .slick-arrow.slick-next {
   right: 3rem;
}

.trending-news-widegt .slick-arrow:before {
   font-size: 1.5rem;
   opacity: 1;
}

.trending-news-widegt .trending-block {
   padding: 2.95rem 3rem;
   border-right: 1px solid var(--light);
}

.trending-news-widegt .slick-slider {
   width: 85%;
   padding: 1.5rem;
}

.trending-news-widegt .slick-slider .slick-list {
   height: 84px !important;
}

.trending-news-widegt .slick-slider .slick-slide {
   border: none;
   padding: 1rem;
}

.trending-news-widegt .slick-slider .month-wrap .date {
   line-height: 1;
}

.trending-news-widegt .slick-slider .slider-content-wrap > div {
   width: 80%;
}

@media (max-width: 1100px) {
   .trending-news-widegt .slick-slider .slick-list {
      height: 60px !important;
   }
}

@media (max-width: 768px) {
   .trending-news-widegt .trending-block {
      display: none !important;
   }

   .trending-news-widegt .slick-slider {
      width: 100% !important;
   }

   .trending-news-widegt .slick-slider .slick-list .slider-text-wrap p {
      display: none;
   }

   .trending-news-widegt .slick-slider .slider-content-wrap > div {
      width: 100% !important;
   }
}

/*================== Top Headlines widget ============*/
.top-headlines-widget .v-list > div:not(:last-child) {
   border-bottom: 1px solid var(--border-color);
}

.top-headlines-widget .v-list .v-badge {
   flex: none;
}

.top-headlines-widget .v-list-item {
   height: auto;
   padding: 1.25rem;
}

@media (max-width: 500px) {
   .top-headlines-widget .v-list .news-content {
      display: block !important;
   }

   .top-headlines-widget .v-list .v-list-item {
      display: block !important;
   }

   .top-headlines-widget .v-list .img-wrap {
      margin: 0 0 1rem 0 !important;
   }

   .top-headlines-widget .v-list .img-wrap img {
      width: 100%;
   }

   .top-headlines-widget .v-list .news-time {
      width: 100% !important;
      justify-content: flex-start !important;
   }
}

/*========= visitors-widget  =========*/
.visitors-widget .top-content .count-value {
   font-size: 2.5rem;
   line-height: 1;
}

.visitors-widget .top-content .icon-wrap {
   display: inline-flex;
   align-items: flex-end;
}

.visitors-widget .top-content .icon-wrap span {
   line-height: 1;
}

/*========= subscribers-widget  =========*/
.subscribers-widget .overlay-content {
   pointer-events: none;
}

.subscribers-widget .overlay-content .count-value {
   font-size: 1.75rem;
}

/*============= Top news wrap ==============*/
.top-news-wrap {
   overflow: hidden;
}

.top-news-wrap .main-slider-wrap .slick-slide .main-slider-item {
   display: block !important;
}

.top-news-wrap .main-slider-wrap .slick-slide .main-slider-item img {
   width: 100%;
}

.top-news-wrap .main-slider-wrap .slick-slide .main-slider-item .overlay-content {
   transition: all 0.3s ease-in-out;
   bg-color: rgba(0, 0, 0, 0);
}

.top-news-wrap .main-slider-wrap .slick-slide .main-slider-item .overlay-content .overlay-holder {
   bg-color: rgba(0, 0, 0, 0.6);
   transition: all 0.3s ease-in-out;
   overflow: hidden;
}

.top-news-wrap .main-slider-wrap .slick-slide .main-slider-item .overlay-content .overlay-holder p {
   height: 0;
   transition: all 0.4s ease-in-out;
   transform: translateY(1rem);
   opacity: 0;
}

@media (max-width: 599px) {
   .top-news-wrap .main-slider-wrap .slick-slide .main-slider-item .overlay-content .overlay-holder {
      margin-bottom: 0 !important;
      width: 100% !important;
   }

   .top-news-wrap .main-slider-wrap .slick-slide .main-slider-item .overlay-content .overlay-holder .meta-info,
   .top-news-wrap .main-slider-wrap .slick-slide .main-slider-item .overlay-content .overlay-holder p {
      display: none !important;
   }
}

.top-news-wrap .slider-btn-wrap {
   @media (max-width: 599px) {
      display: none;
   }
}

.top-news-wrap .slider-btn-wrap .slick-list {
   margin: 0 2rem;
   z-index: 0;
}

.top-news-wrap .slider-btn-wrap .slick-list .slick-slide {
   cursor: pointer;
   padding: 0 10px;
}

.top-news-wrap .slider-btn-wrap .slick-list .slick-slide img {
   transition: all 0.3s linear;
}

.top-news-wrap .slider-btn-wrap .slick-list .slick-current img {
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.top-news-wrap .slider-btn-wrap .slick-arrow {
   top: 0;
   bottom: 0;
   display: flex !important;
   align-items: center;
   width: 1.5rem;
   height: 100%;
   transition: all 0.3s ease-in-out;
   opacity: 0 !important;
}

.top-news-wrap .slider-btn-wrap .slick-arrow:before {
   color: var(--body-color);
   opacity: 0;
   transition: all 0.3s ease-in-out;
   font-size: 1.5rem;
}

.top-news-wrap .slider-btn-wrap .slick-arrow.slick-prev {
   left: 0.5rem;
   transform: translateX(1rem);
}

.top-news-wrap .slider-btn-wrap .slick-arrow.slick-next {
   right: 0.5rem;
   transform: translateX(-1rem);
}

.top-news-wrap:hover .overlay-content {
   bg-color: rgba(0, 0, 0, 0.4) !important;
}

.top-news-wrap:hover .overlay-content .overlay-holder {
   bg-color: rgba(0, 0, 0, 0.9) !important;
}

.top-news-wrap:hover .overlay-content .overlay-holder p {
   height: 2rem !important;
   transform: translateY(0) !important;
   opacity: 1 !important;
}

.top-news-wrap:hover .slider-btn-wrap .slick-arrow {
   opacity: 1 !important;
   transform: translateX(0) !important;
}

.top-news-wrap:hover .slider-btn-wrap .slick-arrow:before {
   opacity: 1 !important;
}

/*================ Twitter Feeds Widget ==================*/
.twitter-feeds-widget .slick-slide {
   padding: 1rem 0;
}

.twitter-feeds-widget .twitter-content .avatar-wrap img {
   transition: all 0.3s ease-in-out;
}

.twitter-feeds-widget .twitter-content .avatar-wrap .overlay-wrap {
   position: relative;
}

.twitter-feeds-widget .twitter-content .avatar-wrap .overlay-content {
   top: -3px;
   left: -6px;
   transform: translate3d(0, 0, 0);
   transition: transform 0.3s ease-in-out;
}

.twitter-feeds-widget .twitter-content .avatar-wrap .overlay-content .v-badge {
   height: 2rem;
   width: 2rem;
   font-size: 1rem;
   box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.29);
}

.twitter-feeds-widget .twitter-content .avatar-wrap {
   margin-bottom: 2.5rem;
}

.twitter-feeds-widget:hover img {
   box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.29);
}

.twitter-feeds-widget:hover .overlay-content {
   transform: translate3d(-0.5rem, -0.5rem, 0) !important;
}

/*================= User Profile ===================*/
.user-profile-widget .avatar-wrap {
   background: url(/public/static/img/blog-6.jpg) no-repeat center center;
   background-size: cover;
   z-index: 0;
   padding: 4.5rem;
}

.user-profile-widget .avatar-wrap .overlay-content {
   bg-color: rgba(0, 0, 0, 0.6);
   z-index: -1;
}

.user-profile-widget .avatar-wrap .user-info {
   display: flex;
   position: absolute;
   bottom: -1.5rem;
   left: 1.5rem;
}

/*================ Weather widget =================*/
.weather-widget .weather-head {
   padding: 1.25rem 1.875rem;
   z-index: 0;
   position: relative;
}

.weather-widget .weather-head .overlay-content {
   bg-color: rgba(0, 0, 0, 0.4);
   z-index: -1;
}

@media (max-width: 990px) {
   .weather-widget .weather-head .weather-info {
      width: 100% !important;
   }

   .weather-widget .weather-head .weather-icon {
      display: none;
   }
}

.weather-widget .weather-head .weather-info h3 {
   font-size: 1.5rem;
   font-weight: 500;
}

.weather-widget .weather-head .weather-info .weather-temp h2 {
   font-size: 3.75rem;
   font-weight: 600;
}

.weather-widget .v-list > div:not(:last-child) {
   border-bottom: 1px solid var(--border-color);
}

.weather-widget .v-list .v-list-item span {
   font-size: 1rem;
}

@media (max-width: 990px) {
   .weather-widget .v-list .v-list-item span {
      font-size: 0.875rem;
   }
}

/*================ Project Management =================*/
.project-management table th {
   padding: 1rem !important;
   text-align: left;
}

.project-management table tbody tr td {
   padding: 1.125rem 0.75rem;
   font-weight: 300;
   height: auto !important;
}

.project-management table tbody tr td .v-progress-linear {
   box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
   margin: 0.625rem 0 0 0 !important;
   border-radius: 2rem;
   width: 90%;
}

.project-management table tbody tr td .v-progress-linear .v-progress-linear__bar__determinate {
   border-radius: 2rem;
}

@media (max-width: 500px) {
   .project-management table thead tr th:last-child span,
   .team-avatar {
      display: none;
   }

   .project-task-management .badge-wrap {
      justify-content: flex-end !important;
   }
}

.team-avatar.team-avatar-auto ul li > div {
   height: auto;
   width: auto;
}

/*=================== Project Task Management ================*/
.project-task-management .v-list .v-list-item {
   display: block;
   height: auto;
   padding: 0;
}

.project-task-management .v-list .v-list-item .project-head {
   padding: 0.875rem 1.5rem;
   border-bottom: 1px solid var(--border-color);
}

.project-task-management .v-list .v-list-item .project-list-item .v-list-item {
   display: flex;
   padding: 0.75rem 1.5rem;
   border-bottom: 1px solid var(--border-color);
}

.project-task-management .v-list .v-list-item .project-list-item .v-form {
   border-bottom: 1px solid var(--border-color);
   padding: 1.5rem;
}

.project-task-management .v-list .v-list-item .project-list-item .v-form .add-project .button-wrap .v-btn {
   display: block;
}

.project-task-management .v-text-field.v-text-field--solo .v-input__control {
   min-height: auto !important;
   min-width: 170px;
}

.project-task-management .v-text-field__details {
   display: none;
}

.project-task-management .v-input__slot {
   margin-bottom: 0;
}

/*=================== Hot Keywords ================*/
.hot-keywords table thead tr th {
   font-weight: 500;
}

.promo-widget .v-btn .v-btn__content {
   font-size: 0.75rem;
}

/*================ Responsive ==================*/
@media (max-width: 380px) {
   .userList-widget .btn--floating.btn--small {
      height: 25px;
      width: 25px;
      font-size: 11px;
   }
}

@media (max-width: 1360px) and (min-width: 1200px) {
   .userList-widget .btn--floating.btn--small {
      height: 25px;
      width: 25px;
      font-size: 11px;
   }
}

@media (max-width: 1360px) and (min-width: 600px) {
   .server-load-chart {
      bottom: -3.75rem;
   }
   .authors-info {
      min-height: 244px !important;
   }
}

@media (max-width: 599px) and (min-width: 320px) {
   .server-load-widget {
      height: 45vh;
   }
   .server-load-widget .server-load-chart {
      bottom: -7rem;
   }
   .visitors-chart-wrap .flex > div {
      display: block !important;
      padding: 0 !important;
   }
   .visitors-info {
      width: 100%;
      display: block !important;
      margin: 2rem 0;
   }
   .visitors-chart {
      width: 100%;
      display: block !important;
   }
}

@media (max-width: 450px) and (min-width: 320px) {
   .stats-widget-v3 {
      flex-basis: 100% !important;
      max-width: 100% !important;
   }
}

@media (max-width: 1000px) and (min-width: 501px) {
   .w-half-md {
      max-width: 50% !important;
      flex-basis: 50% !important;
   }
}

@media (max-width: 768px) and (min-width: 320px) {
   .visitor-area-chart .label-wrap > div.w-30 {
      width: 55%;
   }

   .bandwidth-widget,
   .stats-widget-v3 h2 {
      font-size: 1.15rem;
   }

   .project-status-wrap table thead th:last-child,
   .project-status-wrap table tbody tr td:last-child {
      display: none;
   }
}

@media (max-width: 959px) and (min-width: 320px) {
   .activity-around-world .world-map {
      display: none;
   }

   .activity-around-world .country-progress li {
      width: 100%;
   }

   .stats-wrap {
      padding: 0.75rem 0 0 0;
   }

   .stats-wrap .magazine-stats-wrap {
      margin: 0 6px;
   }

   .stats-wrap .magazine-stats-wrap > .flex {
      padding: 12px;
   }

   .stats-wrap .magazine-stats-wrap > .flex .magazine-stats-card {
      box-shadow: var(--card-shadow);
   }

   .authors-info {
      min-height: 251px !important;
   }

   .activity-widget .activity-scroll {
      height: 356px !important;
   }

   .management-wrap .v-list-item:nth-child(6) {
      display: block;
   }
}

@media (max-width: 600px) and (min-width: 320px) {
   .mailbox-wrapper .v-list .v-list-item {
      display: block;
   }

   .mailbox-wrapper .v-list .v-list-item .v-list-item__action {
      margin: 0;
   }

   .mailbox-wrapper .v-list .v-list-item .v-list-item__action-text {
      text-align: left;
   }

   .mailbox-wrapper .v-list .v-list-item .v-list-item__action-text .text-right {
      text-align: left !important;
   }
}

.product-list .tab-image {
   width: 200px;
}

.product-list .action-btn {
   width: 50px;
}

.product-list .section-content {
   width: calc(100% - 200px - 50px);
}

.v-expansion-panel-header p {
   margin-bottom: 0;
   line-height: 1.5;
}
